workflows/ai site bot - needs pp backend.json
{"updatedAt":"2026-02-26T11:55:29.000Z","createdAt":"2025-05-11T17:11:26.030Z","id":"PRbMdhqsJdEnvkna","name":"ai site bot - needs pp backend","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","hasOutputParser":true,"options":{"systemMessage":"=You are [Company Name]’s real-time website assistant for https://www.your-company-url.com.\n\nAVAILABLE TOOLS\n• list_links(url) → { urls:[ … ] }  — returns up to 100 internal links from that page  \n• get_page(url)   → { text:\"…\" }    — returns the visible, tag-free text of the page (JavaScript rendered if needed)\n\nSEARCH STRATEGY\n1. Start with list_links on the root page.  \n2. Pick ≤ 5 links whose URL or anchor text best match the user’s question (producto, pago, envío, servicio, política, etc.).  \n3. For each chosen link call get_page once.  \n4. Read the returned text and look for the answer.  \n5. If the answer is still unknown, you may repeat steps 1-4 one level deeper.  \n6. Stop after two list_links rounds **or** eight get_page calls (whichever comes first).\n\nANSWER RULES\n• Reply in clear and friendly toon **as part of [Company Name]** (use “we”, “our”).  \n• Keep answers concise but complete.  \n• **No Markdown ni símbolos de formato. Nunca uses \\*, **, \\_, \\~, ni [texto](url).**  \n  Write urls like: Descriptive Text ␣URL   Ej.: Combos https://…  \n• Quote the exact wording for facts such as stock status, prices, envíos, métodos de pago, garantías o políticas.  \n• If the information is not on the site, reply exactly:  \n  “I can't find that information on our site right now. Do you want me to put you through to a human agent?”  \n• Stay on-domain; ignore mailto:, tel:, javascript:, or off-site links.\n• Finally, if any of the tools returns a status code 404, then reply:\n\"Non-subscribed user.\"","maxIterations":10,"returnIntermediateSteps":true}},"id":"e37ecaac-6926-4251-a2d8-227adb1e59a9","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","maxTries":5,"position":[1040,460],"retryOnFail":false,"typeVersion":1.7,"alwaysOutputData":true,"waitBetweenTries":null},{"parameters":{"toolDescription":"Returns up to 100 unique, fully-qualified INTERNAL links for a given page.\n\nInput  (JSON body the model must supply)\n  {\n    \"url\": \"<absolute https://…>\"\n  }\n\nBehaviour\n  • Crawls only the domain of the input URL.\n  • Converts relative <a href> values to absolute URLs.\n  • Drops empty roots (\"/\"), mailto:, tel:, javascript:, and off-site links.\n  • De-duplicates the list.\n  • Responds with a JSON object:\n\n      {\n        \"urls\": [ \"<link-1>\", \"<link-2>\", … ]\n      }\n\nUse this tool when you need a navigation map of the current page.\nPass one of the returned URLs back into other tools (e.g. get_text) to read its content.\n","method":"POST","url":"https://lemolex.app.n8n.cloud/webhook/list-links","sendBody":true,"parametersBody":{"values":[{"name":"url","valueProvider":"fieldValue","value":"https://www.your-company-url.com"},{"name":"auth-token","valueProvider":"fieldValue","value":"your-auth-token (read setup guide)"}]}},"id":"c3eeab53-6435-4a6b-8c41-69a2fe979fde","name":"list_links","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1180,740],"typeVersion":1.1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"0312e4a4-8ed3-4739-a9a9-d673a79c571e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[960,660],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"9XMFrwaVQi0XHPJQ","name":"OpenAi account"}}},{"parameters":{"updates":["messages"],"options":{}},"id":"498b1a82-62d4-4ff9-9e98-02a7380466fc","name":"WhatsApp Trigger","type":"n8n-nodes-base.whatsAppTrigger","position":[660,460],"webhookId":"857366e8-7b6f-45a7-bbd1-f876002620d7","typeVersion":1},{"parameters":{"jsCode":"// cleanAnswer – run once per item\nlet txt = $('AI Agent').first().json.output || '';\n\n// 1. Remove bold / italic / strike markers\ntxt = txt.replace(/[*_~]+/g, '');\n\n// 2. Convert [Texto](https://url) → Texto https://url\ntxt = txt.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, '$1 $2');\n\n// 3. Collapse 3+ blank lines\ntxt = txt.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nreturn [{ json: { answer: txt } }];\n"},"id":"c6ffd3e0-76dc-43da-b6b7-e822647416fb","name":"cleanAnswer","type":"n8n-nodes-base.code","position":[1960,440],"typeVersion":2},{"parameters":{"toolDescription":"Fetches the fully-rendered **plain text** of a single web.  \n• Input  : { \"url\": \"<absolute https://…>\" }  \n• Auth   : token is sent as HTTP basic-auth.  \n• Query  : url=<encoded url>  \n• Output : { \"text\": \"<visible text of the body>\", \"url\": \"<same url>\" }  \n• The \"text\" field already has **all HTML tags removed** .  \n• Use this tool whenever you need the actual words that appear on the page—product details, prices, stock lines, shipping terms, payment options, company policies, etc.  \n• Do **not** call it on off-site links or mailto:/tel:/javascript: pseudo-links.  \n","method":"POST","url":"https://lemolex.app.n8n.cloud/webhook/get_text","sendBody":true,"parametersBody":{"values":[{"name":"url"},{"name":"auth-token","valueProvider":"fieldValue","value":"your-auth-token (read setup guide)"}]}},"id":"5e86c961-24fe-4198-93ac-b269f30aa978","name":"get_page","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1340,740],"typeVersion":1.1},{"parameters":{"jsCode":"// within24h?  – run once per item\n// Meta (WhatsApp) timestamp arrives as seconds since epoch\nconst lastTs = Number($('WhatsApp Trigger').first().json.messages[0].timestamp) * 1000;   // → ms\nconst withinWindow = Date.now() - lastTs < 24 * 60 * 60 * 1000;\n\nreturn [{ json: { withinWindow, answer: $json.answer, userId: $json.userId } }];"},"id":"410bbdcf-f2ac-4e54-8980-c3be682d14e3","name":"24-hour window check","type":"n8n-nodes-base.code","position":[1440,460],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d33e218e-a49a-49ed-9c6b-55b9ea0b0dbb","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.withinWindow }}","rightValue":""}]},"options":{}},"id":"478919f9-26c2-44b1-9abf-708c585c3e01","name":"If","type":"n8n-nodes-base.if","position":[1660,460],"typeVersion":2.2},{"parameters":{"phoneNumberId":"679436108574898","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","template":"hello_world|en_US"},"id":"ca5ca122-30fc-4f4a-bfba-dc8a35127795","name":"Send Pre-approved Template Message to Reopen the Conversation","type":"n8n-nodes-base.whatsApp","position":[1980,680],"typeVersion":1,"webhookId":"54e68af5-a00b-4797-9939-53dbac0f5b26"},{"parameters":{"operation":"send","phoneNumberId":"679436108574898","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $json.answer }}","additionalFields":{}},"id":"b296077e-18d9-4969-9f9b-05ac4086502f","name":"Send AI Agent's Answer","type":"n8n-nodes-base.whatsApp","position":[2180,440],"typeVersion":1,"webhookId":"e2e8af3b-c5bd-4cdd-89f0-44ede237803d"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.contacts[0].wa_id }}","tableName":"message_history"},"id":"2140f8e4-9c09-4634-8cb7-1200cfff2473","name":"Postgres Users Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","position":[1040,820],"typeVersion":1.3},{"parameters":{"content":"# Step by Step Setup Guide\n\n### **The technology that powers this AI Agent—continuously crawling, extracting, and generating answers—incurs real operating costs to stay online.**\n### **That’s why the workflow requires an active membership, priced at only **\\$29 per month**. Comparable AI-support platforms charge **\\$150 – \\$500 each month**, so with this template you either save a large chunk of that expense for your own business or earn the same amount by reselling the chatbot to clients—while paying just \\$29 yourself. *And because the bot pulls fresh information from the site in real time, you never have to “re-train” a model, saving you even more time and money.***\n\n **Activate your membership here:** [https://lemolex.gumroad.com/l/ejsnx](https://lemolex.gumroad.com/l/ejsnx)\n\n### Let's start setting this up step by step:\n*Total hands-on time: ≈ 15 minutes*\n\n1. Activate the tools with the membership generated key: \n- Go to the membership link to get your key.\n- Copy the key (e.g 6F0E4C97-B72A4E69-A11BF6C4-AF123456) and paste it in the body parameters of list_links and get_page (tools):\n*Name: auth-token*\n*Value:  6F0E4C97-B72A4E69-A11BF6C4-AF123456* **(example)**\n\n2. Customize for Your Company:\n- Copy the Root URL of your company's website (Home Page).\n- Open the AI Agent node and inside the `System Message`, change the following values:\n[Company Name] with your company name (e.g [Company Name] -> Facebook)\n[https://www.your-company-url.com] with your company Root URL that you copied before.\nCheck for these 2 values along the entire text.\n- Go back to the tools list_links and get_page and paste the Root URL inside the body parameters, specifically:\n*Name: url*\n*Value: https://www.your-company-url.com **(e.g https://www.facebook.com)**\n\n3. Connect your credentials:\n- Go to the OpenAI Chat Model node and connect your OpenAI credentials.\n- Go to the Postgres Users Memory node and connect your Supabase credentials. A tutorial for this: https://youtu.be/6w5f_jsPYSQ?si=MPdXYUjxv3fghQPj&t=105 (Minute 1:45 to 5:00)\n- Go to the WhatsApp nodes \"WhatsApp Trigger\", \"Send Pre-approved Template Message to Reopen the Conversation\" and \"Send AI Agent's Answer\" to connect your credentials. A tutorial for this: https://youtu.be/ZrhTQle55LQ?si=MO_leooogO9KchCV\n- Go to the \"Send Pre-approved Template Message to Reopen the Conversation\" and select the template message under the \"Template\" parameter.\n***If you don't want to use this feature (not recommended) delete the nodes \"24-hour window check\", \"If\" and \"Send Pre-approved Template Message to Reopen the Conversation\". Then connect the AI Agent node to the \"cleanAnswer\" node.***\n\n\n### **You are ready**","height":1460,"width":460},"id":"5a4ec4b7-abd0-496d-8f7e-96322f21d085","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[80,20],"typeVersion":1},{"parameters":{"method":"POST","url":"http://agent-python:8000/api/agent","sendBody":true,"specifyBody":"json","jsonBody":"=  {\n        \"prompt\": \"{{ $json.chatInput }}\",\n        \"include_sources\": true\n      }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,160],"id":"86934537-44f4-4f82-90ba-36fa13a0741c","name":"HTTP Request"},{"parameters":{"public":true,"mode":"webhook","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[720,160],"id":"982c20f6-df98-4ee4-a923-0247be1f5d4d","name":"When chat message received","webhookId":"d0dc23db-4584-41f2-b348-2f54442d8019"}],"connections":{"If":{"main":[[{"node":"cleanAnswer","type":"main","index":0}],[{"node":"Send Pre-approved Template Message to Reopen the Conversation","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"24-hour window check","type":"main","index":0}]]},"get_page":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"list_links":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cleanAnswer":{"main":[[{"node":"Send AI Agent's Answer","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"24-hour window check":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres Users Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7acd22a1-9088-44a3-9f17-c731d3212691","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-05-11T17:11:26.044Z","createdAt":"2025-05-11T17:11:26.044Z","role":"workflow:owner","workflowId":"PRbMdhqsJdEnvkna","projectId":"80jFyymZeQtyBHZ8"}],"activeVersion":null,"tags":[{"updatedAt":"2025-05-11T17:11:32.806Z","createdAt":"2025-05-11T17:11:32.806Z","id":"Ec5XAsKIaZolCLAD","name":"jp"},{"updatedAt":"2025-05-11T17:11:36.410Z","createdAt":"2025-05-11T17:11:36.410Z","id":"YfHARDdOjxYmEJEH","name":"dev"}]}