workflows/BACKUP WORKFLOWS.json
{"updatedAt":"2026-03-02T06:24:28.307Z","createdAt":"2026-03-02T06:07:39.512Z","id":"9OwDgLZLdX05Btrw","name":"BACKUP WORKFLOWS","active":false,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"untitled-agents"},{"name":"repo.name","value":"n8n-bunzl-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"7c48409e-6b08-481d-9630-de5ea181f6ec","name":"Globals","type":"n8n-nodes-base.set","position":[-1456,224],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"4f5fcfb7-b21c-4a44-8713-86018698eb34","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1200,224],"typeVersion":1,"credentials":{"n8nApi":{"id":"jJzzjPeEpYanRHK5","name":"n8n account"}}},{"parameters":{"options":{}},"id":"d3d3cc73-a7ee-4aff-bc13-2e9dc6efe9ba","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[-992,224],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"d4da6f46-4324-4398-b2b4-a72c2d748e9f","name":"If","type":"n8n-nodes-base.if","position":[-544,304],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"295480b5-a6d8-44b1-b039-ba0fc2a81d98","name":"If1","type":"n8n-nodes-base.if","position":[256,544],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"dff72369-0aea-4e07-a8c2-8a6166c189a5","name":"Code","type":"n8n-nodes-base.code","position":[16,288],"typeVersion":2},{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"id":"68673a7e-7c96-4882-97b6-4f466de3690c","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1680,224],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"6891fc08-7d7e-4bc9-b8c9-83da8580fa47","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[848,816],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"bd6fc8ba-0ae6-4fb8-b67a-8537978e77f3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[480,592],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"bae7b56e-7c85-49e5-8763-d2e4e8bf7119","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-240,496],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"c35abac3-eb5a-4144-b75c-162b220ea9a5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-544,208],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"030ced15-1b79-49ee-9b23-9c3263db72cc","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-48,176],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"153c1135-568e-40f4-8bd5-d8bd335694d9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1264,128],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"ab3b14e7-8a72-455c-8da5-3edd8dd67303","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-1536,368],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"untitled-agents","mode":"list","cachedResultName":"untitled-agents","cachedResultUrl":"https://github.com/untitled-agents"},"repository":{"__rl":true,"value":"n8n-bunzl-backup","mode":"list","cachedResultName":"n8n-bunzl-backup","cachedResultUrl":"https://github.com/untitled-agents/n8n-bunzl-backup"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-720,272],"id":"d60e969d-79b8-4b27-84b8-b73d4940d586","name":"GitHub1","webhookId":"c91858de-adcf-44e6-b695-72a105095a82","credentials":{"githubApi":{"id":"EbI6AdWX02MZ1PP4","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"untitled-agents","mode":"list","cachedResultName":"untitled-agents","cachedResultUrl":"https://github.com/untitled-agents"},"repository":{"__rl":true,"value":"n8n-bunzl-backup","mode":"list","cachedResultName":"n8n-bunzl-backup","cachedResultUrl":"https://github.com/untitled-agents/n8n-bunzl-backup"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-112,592],"id":"1281c626-afe8-471d-887a-36e618603c9e","name":"Create new file and commit1","webhookId":"5b63583b-fc8b-4103-a444-4e8acfa03b5a","credentials":{"githubApi":{"id":"EbI6AdWX02MZ1PP4","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"untitled-agents","mode":"list","cachedResultName":"untitled-agents","cachedResultUrl":"https://github.com/untitled-agents"},"repository":{"__rl":true,"value":"n8n-bunzl-backup","mode":"list","cachedResultName":"n8n-bunzl-backup","cachedResultUrl":"https://github.com/untitled-agents/n8n-bunzl-backup"},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[576,656],"id":"7a5cff3e-8685-4324-9238-278c00579ec9","name":"update file and comit","webhookId":"bbaf71b3-db63-4516-b5ce-d09132d4c12d","credentials":{"githubApi":{"id":"EbI6AdWX02MZ1PP4","name":"GitHub account"}}},{"parameters":{"chatId":"615051476","text":"=Nigltly n8n backup - {{ $json.text }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-272,16],"id":"136b4630-d8d4-4afd-9d44-f42b73278c2f","name":"Telegram2","webhookId":"456efb66-e36f-4315-b063-5153ef7a4b51","credentials":{"telegramApi":{"id":"vbifYtCR3Y9LHfRm","name":"Telegram account"}}},{"parameters":{"jsCode":"// Collect workflow names\nlet names = $items(\"Loop Over Items\").map(item => item.json.name);\nlet message = \"n8n Flows backed up:\\n\" + names.join(\", \");\nreturn [{ json: { text: message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,48],"id":"7b4982be-c357-4633-ae13-386a2c3e548b","name":"Code1"},{"parameters":{"chatId":"615051476","text":"=n8n backup of changed flow - {{ $json.content.name }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,624],"id":"5e13aaa1-82cf-472d-9fd0-b6cb36ad3f44","name":"Telegram","webhookId":"456efb66-e36f-4315-b063-5153ef7a4b51","credentials":{"telegramApi":{"id":"vbifYtCR3Y9LHfRm","name":"Telegram account"}}},{"parameters":{"chatId":"615051476","text":"=n8n backup of NEW flow - {{ $json.content.name }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[32,496],"id":"34390327-b5d1-4409-b573-4e36a5d12ef5","name":"Telegram1","webhookId":"456efb66-e36f-4315-b063-5153ef7a4b51","credentials":{"telegramApi":{"id":"vbifYtCR3Y9LHfRm","name":"Telegram account"}}},{"parameters":{"fromEmail":"agents@Untitledtm.com","toEmail":"julian@blackdenhall.com","subject":"n8n backup email","emailFormat":"text","text":"=UNTITLED VPS n8n backup ran - {{ $json.result.text }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[0,0],"id":"ed2e7166-d18c-4de2-9b04-bbf04f422ee7","name":"Send Email","webhookId":"e328a5c4-f668-4e91-9601-b9e56bc79704","credentials":{"smtp":{"id":"FHLbuc08V638ln8w","name":"SMTP account"}}}],"connections":{"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"GitHub1","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit1","type":"main","index":0}]]},"If1":{"main":[[{"node":"update file and comit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"If","type":"main","index":0}]]},"Create new file and commit1":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Telegram1","type":"main","index":0}]]},"update file and comit":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9564d86d-b7ad-452f-9af6-5b435d1f0812","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-02T06:07:39.517Z","createdAt":"2026-03-02T06:07:39.517Z","role":"workflow:owner","workflowId":"9OwDgLZLdX05Btrw","projectId":"80jFyymZeQtyBHZ8"}],"activeVersion":null,"tags":[]}