workflows/Researcher V5 - with URL suggester.json
{"updatedAt":"2026-02-26T13:16:10.794Z","createdAt":"2026-02-26T12:04:27.337Z","id":"3AiHRhJQQlC3zAVB","name":"Researcher V5 - with URL suggester","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"article-researcher-v5","options":{}},"id":"d1601446-4cc3-4893-bc3b-e6c0971e3ac8","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,-80],"name":"Webhook","webhookId":"d255d762-d6bb-4e8b-939e-9ed2a0188e5c"},{"parameters":{"jsCode":"const b = $json.body || {};\n\n// 1) Identify ALL selected sectors (checkboxes like sectors[0], sectors[1], etc.)\nconst selectedSectors = Object.keys(b)\n  .filter(k => k.startsWith(\"sectors[\"))\n  .map(k => b[k])\n  .filter(Boolean);\n\n// 2) Date formatting (DD/MM/YYYY -> YYYY-MM-DD)\nlet formattedDate = \"\";\nif (b.date && b.date.includes(\"/\")) {\n  const [d, m, y] = b.date.split(\"/\");\n  formattedDate = `${y}-${m}-${d}`;\n}\n\nreturn [{\n  json: {\n    user: {\n      name: b.name,\n      email: b.email_address,\n      company: b.company_name\n    },\n    research: {\n      topic: b.what_would_you_like_us_to_research,\n      published_after: formattedDate\n    },\n    selected_sectors: selectedSectors\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-80],"id":"da2d2823-e352-4a30-afc5-61f5ce1e3ebd","name":"Normalize & Route"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1NfJp4PhhtzYczHEPwoxzV-H6MszYtLkFOqwJdPfzoU8","mode":"list","cachedResultName":"Article Researcher Master V2.0","cachedResultUrl":"https://docs.google.com/presentation/d/1NfJp4PhhtzYczHEPwoxzV-H6MszYtLkFOqwJdPfzoU8/edit?usp=drivesdk"},"name":"={{ $node[\"Normalize & Route\"].json.user.name }} - Research Report - {{ $node[\"Normalize & Route\"].json.research.topic }}","sameFolder":false,"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1QCUrzacL3YbTtKFNDmqE9On4JykV3D2U","mode":"list","cachedResultName":"PowerPoint Outputs","cachedResultUrl":"https://drive.google.com/drive/folders/1QCUrzacL3YbTtKFNDmqE9On4JykV3D2U"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,-80],"id":"6ecc26da-ce5f-40a5-9345-36d148a6a0b0","name":"Copy file"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('Copy file').first().json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2256,-80],"id":"0a221201-c4e9-486f-b1bf-32405abcb15f","name":"Share file"},{"parameters":{"operation":"replaceText","presentationId":"={{ $('Copy file').first().json.id }}","textUi":{"textValues":[{"pageObjectIds":"={{ [] }}","text":"{{name}}","replaceText":"={{ $('Normalize & Route').first().json.user.name }}"},{"pageObjectIds":"={{ [] }}","text":"{{company_name}}","replaceText":"={{ $('Normalize & Route').first().json.user.company }}"},{"pageObjectIds":"={{ [] }}","text":"{{what_would_you_like_us_to_research}}","replaceText":"={{ $('Normalize & Route').first().json.research.topic }}"},{"pageObjectIds":"={{ [] }}","text":"{{report}}","replaceText":"={{ $('Get information').item.json.choices[0].message.content }}"},{"pageObjectIds":"={{ [] }}","text":"{{citations}}","replaceText":"={{ $('Get information').item.json.citations.join('\\n') }}"},{"pageObjectIds":"={{ [] }}","text":"{{lockhart_help}}","replaceText":"={{ $('Write the Article').item.json.output[0].content[0].text }}"},{"pageObjectIds":"={{ [] }}","text":"{{suggested_urls}}","replaceText":"={{ $('Prepare URLs for Slides').first().json.selected\n  .map(i => `• ${i.name}\\n${i.url}`)\n  .join('\\n\\n') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[2048,-80],"id":"2a096bb1-2026-43be-bc43-f35c22146a78","name":"Replace text in a presentation"},{"parameters":{"messages":{"message":[{"content":"=You are a research expert.\n\nWrite a 220-word article on:\n\"{{ $('Normalize & Route').first().json.research.topic }}\"\n\nFocus specifically on the following sectors:\n{{ $('Normalize & Route').first().json.selected_sectors.join(', ') }}\n\nRequirements:\n- Tailor the insights to those sectors only.\n- Explain implications for operators in those sectors (e.g., contract caterers).\n- Use cautious language if sources are general (e.g., “may imply”, “could suggest”).\n- Do not invent statistics (percentages, growth rates, £ figures) unless they are explicitly stated in the sources.\n- If you cannot find sector-specific evidence, still write the article using the best available evidence and clearly frame it as inference.\n- Do not state the word count."}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[896,-288],"id":"06566a9b-2cd2-4672-9b9d-585f39aef791","name":"Get information"},{"parameters":{"sendTo":"={{ $('Webhook').item.json.body.email_address }}","subject":"=Research on - {{ $('Webhook').item.json.body.what_would_you_like_us_to_research }}","message":"=Hi {{ $node[\"Webhook\"].json.body.name }},<br><br>\n\nThank you for your request. Your research report on\n“{{ $node[\"Webhook\"].json.body.what_would_you_like_us_to_research }}” is now ready.<br><br>\n\nYou can view and download your presentation here:\n<a href=\"https://docs.google.com/presentation/d/{{ $node['Copy file'].json.id }}/edit\">View your presentation</a>\n\nBest regards,<br>\nThe Research Team","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2448,-80],"id":"9597faef-f967-480d-b84f-893d6e028275","name":"Send a message","webhookId":"e98f5681-1c7f-43dd-9dfb-8a54bacc6e9c"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug","mode":"list","cachedResultName":"Article Researcher – Submissions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"submitted_at":"={{ $('Webhook').item.json.body.time }}","name":"={{ $('Normalize & Route').item.json.user.name }}","email":"={{ $('Normalize & Route').item.json.user.email }}","company":"={{ $('Normalize & Route').item.json.user.company }}","topic":"={{ $('Normalize & Route').item.json.research.topic }}","sectors":"={{ $('Normalize & Route').item.json.selected_sectors.join(', ') }}","article":"={{ $('Get information').item.json.choices[0].message.content }}","citations":"={{ $('Get information').item.json.citations.join(', ') }}","lockhart_help":"={{ $('Write the Article').item.json.output[0].content[0].text }}","wp_user_id":"={{ $('Webhook').item.json.body.user_id }}","ip":"={{ $('Webhook').item.json.body.ip }}","perplexity_cost_in_$":"={{ $('Get information').item.json.usage.cost.total_cost }}"},"matchingColumns":[],"schema":[{"id":"submitted_at","displayName":"submitted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sectors","displayName":"sectors","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"article","displayName":"article","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"citations","displayName":"citations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lockhart_help","displayName":"lockhart_help","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wp_user_id","displayName":"wp_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ip","displayName":"ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"perplexity_cost_in_$","displayName":"perplexity_cost_in_$","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2640,-80],"id":"fe40c37d-771a-4c95-bf88-9f035efa8a52","name":"Append row in sheet"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"5Qp18YaeHAKj7XJd","mode":"list","cachedResultName":"bunzl_researcher_website_category_index","cachedResultUrl":"/projects/zelxUBMWZH4Zd6fx/datatables/5Qp18YaeHAKj7XJd"}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[464,-80],"id":"c2d75a4f-ec12-49eb-8231-ba2164042095","name":"Get Category Index Rows"},{"parameters":{"jsCode":"const b = $json.body || {};\n\n// 1) Identify ALL selected sectors (checkboxes like sectors[0], sectors[1], etc.)\nconst selectedSectors = Object.keys(b)\n  .filter(k => k.startsWith(\"sectors[\"))\n  .map(k => b[k])\n  .filter(Boolean);\n\n// 2) Date formatting (DD/MM/YYYY -> YYYY-MM-DD)\nlet formattedDate = \"\";\nif (b.date && b.date.includes(\"/\")) {\n  const [d, m, y] = b.date.split(\"/\");\n  formattedDate = `${y}-${m}-${d}`;\n}\n\nreturn [{\n  json: {\n    user: {\n      name: b.name,\n      email: b.email_address,\n      company: b.company_name\n    },\n    research: {\n      topic: b.what_would_you_like_us_to_research,\n      published_after: formattedDate\n    },\n    selected_sectors: selectedSectors\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-80],"id":"04496307-bad3-4fd5-8690-d023feeef152","name":"Build Category Picker Prompt"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"You are a commercial catering category analyst.\n\nYou will be given:\n- A research topic\n- Target sectors\n- A list of approved Lockhart website categories (each has name, url, search_text)\n\nYour task:\nSelect the 5 most commercially relevant categories for the topic + sectors.\n\nRules:\n- Only choose from the provided list.\n- Return exactly 5 items.\n- Return only URLs that appear exactly in the provided list.\n- Do not invent or modify URLs.\n- Prefer broad, high-intent categories over niche brand/range pages unless clearly relevant.\n- Output must be valid JSON only. No markdown, no extra text.\n\nOutput JSON schema:\n{\n  \"selected\": [\n    {\n      \"name\": \"Category Name\",\n      \"url\": \"https://www.lockhart.co.uk/c/XXX\",\n      \"reason\": \"1-2 sentences, commercially grounded\"\n    }\n  ]\n}"},{"content":"=Research Topic:\n{{ $('Normalize & Route').first().json.research.topic }}\n\nTarget Sectors:\n{{ $('Normalize & Route').first().json.selected_sectors.join(', ') }}\n\nAvailable Categories (choose from this list only):\n{{ JSON.stringify($json.categories, null, 2) }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1440,-272],"id":"24a4a9a9-f0bf-489a-a25c-1be07c5de340","name":"Suggest URLs"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"You are a commercial foodservice and catering consultant with deep expertise in the UK hospitality supply chain.\n\nYour role is to analyse a customer’s catering needs and explain how Lockhart Catering Equipment could support, enhance, or transform their catering operations with practical, relevant solutions.\n\nWrite in a professional B2B consultancy tone.\nBe concise, persuasive, and commercially grounded.\nAvoid generic marketing language; focus on tangible use cases."},{"content":"=My name is {{ $('Normalize & Route').first().json.user.name }} and I work at {{ $('Normalize & Route').first().json.user.company }}.\n\nWe requested research on:\n\"{{ $('Normalize & Route').first().json.research.topic }}\"\n\nTarget sector(s):\n{{ $('Normalize & Route').first().json.selected_sectors.join(', ') }}\n\nHere is the research output:\n{{ $json.choices[0].message.content }}\n\nNow write a ~200 word article explaining how Lockhart could help our business based on the research and the sector(s).\nDo not include headings. Do not mention the word count."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1120,-272],"id":"7367cf30-9554-4481-bc54-3c4ec77fab99","name":"Write the Article"},{"parameters":{"jsCode":"// This expects Suggest URLs returned JSON only\nconst raw = items[0].json.output?.[0]?.content?.[0]?.text\n  || items[0].json.output?.[0]?.content\n  || items[0].json.text\n  || items[0].json;\n\nlet parsed;\ntry {\n  parsed = typeof raw === \"string\" ? JSON.parse(raw) : raw;\n} catch (e) {\n  // fallback: keep raw for debugging\n  return [{ json: { urls_raw: raw, parse_error: e.message } }];\n}\n\nconst selected = parsed.selected || [];\n\nconst urlsBullets = selected\n  .map((x, idx) => `${idx + 1}. ${x.name} — ${x.url}\\n   ${x.reason}`)\n  .join(\"\\n\\n\");\n\nreturn [{\n  json: {\n    selected,\n    urls_bullets: urlsBullets\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,-80],"id":"d61e7d4c-c4cf-42cb-8c8d-e1069de553cb","name":"Prepare URLs for Slides"},{"parameters":{"model":"eu.anthropic.claude-sonnet-4-6","options":{}},"type":"@rxap/n8n-nodes-litellm.liteLLMChat","typeVersion":1,"position":[832,128],"id":"c4c8dcee-fb6d-4bf5-ba34-830727cd55f1","name":"LiteLLM Chat","credentials":{"litellm":{"id":"RMz35yl8Q4cYM4gi","name":"LiteLLM account"}}},{"parameters":{"promptType":"define","text":"=You are a research expert.\n\nWrite a 220-word article on:\n\"{{ $('Normalize & Route').first().json.research.topic }}\"\n\nFocus specifically on the following sectors:\n{{ $('Normalize & Route').first().json.selected_sectors.join(', ') }}\n\nRequirements:\n- Tailor the insights to those sectors only.\n- Explain implications for operators in those sectors (e.g., contract caterers).\n- Use cautious language if sources are general (e.g., “may imply”, “could suggest”).\n- Do not invent statistics (percentages, growth rates, £ figures) unless they are explicitly stated in the sources.\n- If you cannot find sector-specific evidence, still write the article using the best available evidence and clearly frame it as inference.\n- Do not state the word count.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[832,-80],"id":"ae30c28d-f79c-488f-a278-62f37aace986","name":"AI Agent"}],"connections":{"Webhook":{"main":[[{"node":"Normalize & Route","type":"main","index":0}]]},"Normalize & Route":{"main":[[{"node":"Get Category Index Rows","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Replace text in a presentation","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Replace text in a presentation":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Get information":{"main":[[]]},"Send a message":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Get Category Index Rows":{"main":[[{"node":"Build Category Picker Prompt","type":"main","index":0}]]},"Build Category Picker Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Suggest URLs":{"main":[[]]},"Write the Article":{"main":[[]]},"Prepare URLs for Slides":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"LiteLLM Chat":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-7dqj.onrender.com","user-agent":"WordPress/6.9.1; https://insights.lockhart.co.uk","content-length":"514","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"35.214.18.130","cf-ipcountry":"GB","cf-ray":"9cfd9bb24b1063df-LHR","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/x-www-form-urlencoded","render-proxy-ttl":"4","rndr-id":"1a335d28-837e-477e","true-client-ip":"35.214.18.130","x-forwarded-for":"35.214.18.130, 172.69.194.199","x-forwarded-proto":"https","x-request-start":"1771418586065932"},"params":{},"query":{},"body":{"form_id":"241","time":"2026-02-18 12:43:05","source_url":"https://insights.lockhart.co.uk/article-researcher/","post_id":"242","user_id":"3","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36","ip":"86.147.187.136","is_read":"0","privacy_scrub_date":"2026-02-18","on_privacy_scrub":"anonymize","name":"ewr","company_name":"untitledtm","email_address":"jj@untitledtm.com","what_would_you_like_us_to_research":"Trends in the UK fish and chip market","sectors[0]":"Contract Caterer"},"webhookUrl":"https://n8n-7dqj.onrender.com/webhook-test/article-researcher-v5","executionMode":"test"}}]},"versionId":"c3c1861e-01d5-4b6f-b1a1-98f1bf58920b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-26T12:04:27.343Z","createdAt":"2026-02-26T12:04:27.343Z","role":"workflow:owner","workflowId":"3AiHRhJQQlC3zAVB","projectId":"80jFyymZeQtyBHZ8"}],"activeVersion":null,"tags":[]}