workflows/Researcher V2.json
{"updatedAt":"2026-03-17T16:25:29.538Z","createdAt":"2026-03-17T16:25:21.288Z","id":"eZUWZ9H1RQv4pMNt","name":"Researcher V2","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"article-researcher","responseMode":"responseNode","options":{}},"id":"1e7780e2-6b41-402f-a671-2fd3cf82addd","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,-64],"name":"Webhook","webhookId":"6d97540a-2c4a-4164-996d-56b4271a0049"},{"parameters":{"jsCode":"const b = $json.body || {};\n\n// --------------------\n// 1) Sectors (multi-select sectors[x])\n// --------------------\nconst sectors = Object.keys(b)\n  .filter(k => k.startsWith('sectors['))\n  .sort((a, c) => {\n    const ai = parseInt((a.match(/\\[(\\d+)\\]/) || [])[1] || '0', 10);\n    const ci = parseInt((c.match(/\\[(\\d+)\\]/) || [])[1] || '0', 10);\n    return ai - ci;\n  })\n  .map(k => b[k])\n  .filter(Boolean);\n\n// --------------------\n// 2) Date handling (Avada sends d/m/Y)\n// --------------------\nconst fromDateStr = b.date || \"\"; // e.g. \"01/01/2026\"\nlet fromIso = \"\";\nlet daysBack = null;\n\nif (fromDateStr) {\n  const [dd, mm, yyyy] = fromDateStr.split(\"/\").map(s => s.trim());\n  if (dd && mm && yyyy) {\n    fromIso = `${yyyy}-${mm.padStart(2, \"0\")}-${dd.padStart(2, \"0\")}`;\n\n    const today = new Date();\n    const todayUtcMidnight = Date.UTC(today.getUTCFullYear(), today.getUTCMonth(), today.getUTCDate());\n    const fromUtcMidnight = Date.UTC(parseInt(yyyy, 10), parseInt(mm, 10) - 1, parseInt(dd, 10));\n    daysBack = Math.max(0, Math.floor((todayUtcMidnight - fromUtcMidnight) / (1000 * 60 * 60 * 24)));\n  }\n}\n\n// --------------------\n// 3) Sector -> website field mapping (must match your Avada field names)\n// --------------------\nconst sectorToWebsiteFieldBase = {\n  \"Healthcare\": \"website_for_healthcare\",\n  \"Food & Catering\": \"website_for_food_and_catering\",\n  \"Retail\": \"website_for_retail\",\n  \"Manufacturing\": \"website_for_manufacturing\",\n  \"Logistics\": \"website_for_logistics\",\n  \"Facilities Management\": \"website_for_facilities_management\",\n  \"Other\": \"website_for_other\",\n};\n\n// Helper: get all checkbox values for a base field like website_for_healthcare[x]\nfunction collectCheckboxGroup(baseName) {\n  return Object.keys(b)\n    .filter(k => k.startsWith(`${baseName}[`))\n    .sort((a, c) => {\n      const ai = parseInt((a.match(/\\[(\\d+)\\]/) || [])[1] || '0', 10);\n      const ci = parseInt((c.match(/\\[(\\d+)\\]/) || [])[1] || '0', 10);\n      return ai - ci;\n    })\n    .map(k => b[k])\n    .filter(Boolean);\n}\n\n// --------------------\n// 4) Only keep websites for SELECTED sectors\n//    (and only those still ticked)\n// --------------------\nconst websites_by_sector = {};\nlet selected_websites = [];\n\nfor (const sector of sectors) {\n  const base = sectorToWebsiteFieldBase[sector];\n  if (!base) continue;\n\n  const sites = collectCheckboxGroup(base);\n  websites_by_sector[sector] = sites;\n  selected_websites.push(...sites);\n}\n\n// De-dupe\nselected_websites = [...new Set(selected_websites)];\n\n// --------------------\n// 5) Output tidy object\n// --------------------\nreturn [\n  {\n    json: {\n      form_id: b.form_id,\n      submitted_at: b.time,\n      source_url: b.source_url,\n      wp_user_id: b.user_id,\n\n      name: b.name,\n      company: b.company_name,\n      email: b.email_address,\n      topic: b.what_would_you_like_us_to_research,\n\n      sectors,\n\n      from_date: fromDateStr,\n      from_iso: fromIso,\n      days_back: daysBack,\n\n      // new outputs\n      websites_by_sector,\n      selected_websites,\n\n      ip: b.ip,\n    }\n  }\n];"},"id":"535dea47-fabb-41f1-bf40-fa5826f41209","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-64],"name":"Code"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"You generate a single concise search query for finding relevant articles or news.\n\nRules:\n- Output ONLY a JSON object\n- Do NOT include domains\n- Do NOT include dates unless explicitly mentioned\n- Do NOT answer the question\n- Keep it short and search-engine friendly"},{"content":"=Topic: {{$json.topic}}\nSector(s): {{$json.sectors.join(', ')}}\n\nReturn ONE search query string suitable for finding articles."}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_schema","schema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"search_query\": { \"type\": \"string\" }\n  },\n  \"required\": [\"search_query\"],\n  \"additionalProperties\": false\n}"}}}},"id":"267c3652-137d-441b-a087-275817751c52","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[512,-64],"name":"OpenAI"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug","mode":"list","cachedResultName":"Article Researcher – Submissions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"submitted_at","displayName":"submitted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sectors","displayName":"sectors","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_url","displayName":"source_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wp_user_id","displayName":"wp_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ip","displayName":"ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"from_date","displayName":"from_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"from_iso","displayName":"from_iso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"days_back","displayName":"days_back","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"aeef4e9c-af89-4a3f-b728-0652414e57c4","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1072,-64],"name":"Google Sheets"},{"parameters":{"respondWith":"json","responseBody":{"ok":true,"message":"Request received"},"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"d887d63c-d009-4e2e-9638-fe3f3bcebc2e","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1296,-64],"name":"Respond to Webhook"},{"parameters":{"fieldToSplitOut":"selected_websites","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,-64],"id":"a7b88255-ae4d-4388-9ac9-8ad6649d39bb","name":"Split Out"},{"parameters":{"query":"=={{ \n  $json.output[0].content[0].text.search_query \n  + ' site:' + $json.selected_websites \n}}","options":{"search_depth":"basic","max_results":5,"include_domains":[],"start_date":"={{ $json.output[0].content[0].text.start_date }}"}},"id":"d73f2544-8136-45d4-9410-105d77499df4","type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[864,-64],"name":"Tavily – Search (per domain)","credentials":{}}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Tavily – Search (per domain)","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Tavily – Search (per domain)":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3ff8e435-e617-4819-bab3-54c7636a23e6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-17T16:25:21.297Z","createdAt":"2026-03-17T16:25:21.297Z","role":"workflow:owner","workflowId":"eZUWZ9H1RQv4pMNt","projectId":"80jFyymZeQtyBHZ8"}],"activeVersion":null,"tags":[]}