workflows/Researcher V3.json
{"updatedAt":"2026-03-17T16:26:03.035Z","createdAt":"2026-03-17T16:25:44.281Z","id":"yWTkNcwUJoBHQQUC","name":"Researcher V3","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"851e526a-f5ef-48bc-be27-efca44882448","options":{}},"id":"15bd3563-47b7-4b86-aadf-2b85346e2791","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,16],"name":"Webhook","webhookId":"851e526a-f5ef-48bc-be27-efca44882448"},{"parameters":{"jsCode":"const b = $json.body || {};\n\n// 1. Identify ALL Selected Sectors (e.g., sectors[0], sectors[1], etc.)\nconst selectedSectors = Object.keys(b)\n  .filter(k => k.startsWith(\"sectors[\"))\n  .map(k => b[k])\n  .filter(Boolean); // Keep only non-empty values\n\n// 2. Full mapping of Sectors to their website groups\nconst sectorMap = {\n  \"Healthcare\": \"website_for_healthcare\",\n  \"Food & Catering\": \"website_for_food_and_catering\",\n  \"Retail\": \"website_for_retail\",\n  \"Manufacturing\": \"website_for_manufacturing\",\n  \"Logistics\": \"website_for_logistics\",\n  \"Facilities Management\": \"website_for_facilities_management\"\n};\n\nlet allTargetDomains = [];\n\n// 3. Loop through every selected sector and gather their respective websites\nselectedSectors.forEach(sector => {\n  const groupPrefix = sectorMap[sector];\n  if (groupPrefix) {\n    const sectorWebsites = Object.keys(b)\n      .filter(key => key.startsWith(`${groupPrefix}[`))\n      .map(key => b[key])\n      .filter(Boolean);\n    \n    allTargetDomains.push(...sectorWebsites);\n  }\n});\n\n// 4. Date Formatting (DD/MM/YYYY -> YYYY-MM-DD)\nlet formattedDate = \"\";\nif (b.date && b.date.includes('/')) {\n  const [d, m, y] = b.date.split('/');\n  formattedDate = `${y}-${m}-${d}`;\n}\n\nreturn [{\n  json: {\n    user: { \n      name: b.name, \n      email: b.email_address, \n      company: b.company_name \n    },\n    research: { \n      topic: b.what_would_you_like_us_to_research,\n      published_after: formattedDate \n    },\n    selected_sectors: selectedSectors, // Now shows all selected sectors\n    domains: [...new Set(allTargetDomains)] // De-duped list of all websites\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,16],"id":"b07861c7-59f5-4184-b0d3-7d822e7901dc","name":"Normalize & Route"},{"parameters":{"fieldToSplitOut":"domains","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,16],"id":"fa601d74-61c9-4ad0-9236-34bccf24a182","name":"Split Out - Domains"},{"parameters":{"query":"={{ $json.research.topic }}","options":{"topic":"news","search_depth":"advanced","max_results":5,"include_raw_content":true,"include_domains":["={{ $json.domains }}"],"start_date":"={{ $json.research.published_after }}"}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[592,16],"id":"b72539f8-93d5-489c-b2f1-072cd4b1b356","name":"Tavily Search (Targeted Research)","credentials":{}},{"parameters":{"jsCode":"let allResults = [];\n\n// 1. Flatten all results from all domains into one list\nfor (const item of $input.all()) {\n  if (item.json.results && item.json.results.length > 0) {\n    allResults.push(...item.json.results);\n  }\n}\n\n// 2. Sort by Tavily's AI Relevance Score (Descending)\nallResults.sort((a, b) => b.score - a.score);\n\n// 3. Keep only the Top 6 articles globally to ensure quality and save tokens\n// We also filter out any results with very low scores (e.g., < 0.3)\nconst topResults = allResults\n  .filter(r => r.score > 0.1) // Adjust this threshold if needed\n  .slice(0, 6);\n\nreturn topResults.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,16],"id":"96d19b8c-3f6c-40c3-801b-18984d9a1905","name":"Aggregate & Rank Results"},{"parameters":{"resource":"extract","urls":["={{ $json.url }}"],"options":{"extract_depth":"advanced","format":"markdown"}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[1040,16],"id":"d2163236-53ae-4b0c-9422-ac4af10f18a3","name":"Tavily Extract (Full Article Text)","credentials":{}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"results[0].raw_content","renameField":true,"outputFieldName":"combined_research"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1264,16],"id":"11dfb3aa-31be-4009-81e7-8d46e4f29e0f","name":"Aggregate"},{"parameters":{"jsCode":"// Map both raw_content for the research AND the specific URLs for citations\nconst results = $input.all().map(item => {\n  return {\n    content: item.json.combined_research, // This is your raw_content\n    source_info: `TITLE: ${item.json.title} | URL: ${item.json.url}`\n  };\n});\n\nconst joinedText = results.map(r => r.content).join('\\n\\n--- NEXT SOURCE ---\\n\\n');\nconst joinedSources = results.map(r => r.source_info).join('\\n');\n\nreturn {\n  combined_text: joinedText,\n  source_list: joinedSources,\n  original_topic: $node[\"Normalize & Route\"].json.research.topic\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,16],"id":"cffe4067-c104-4362-8c5a-a48e9edeedb4","name":"The Final Aggregator (The \"Joiner\")"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"You are a Senior Industry Research Analyst. Your goal is to transform raw research data into a high-level executive summary for a business owner.\n\nSTRICT CONSTRAINTS:\n- Word Count: Total output MUST be between 200 and 210 words.\n- Tone: Professional, objective, and data-driven.\n- Citations: Every factual claim must include a bracketed number [] corresponding to the source list.\n- No Conversational Filler: Start immediately with the report title. Do not say 'Here is the report' or 'Certainly'."},{"content":"=STRICT CITATION PROTOCOL:\nSource List: At the very bottom, create a section labeled \"Sources:\".\n\nFormat: For each source, provide the Article Title followed by the URL from the provided links. Format it as: [1] Title - URL, [2] Title - URL.\n\nLayout: Keep the source list as one continuous horizontal block to save space.\n\nRequired Structure:\n\nExecutive Summary: [Insert 2 sentences here].\nKey Trends & Data: [List 3 bulleted points with [numbers], no spacing between lines].\nMarket Challenges: [Insert 1-2 sentences with [numbers]].\nStrategic Opportunities: [Insert 1-2 sentences with [numbers]].\nSources: [The horizontal list of Titles and URLs]."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1712,16],"id":"70c1f232-e70a-41c1-8141-511385d22416","name":"Message a model"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1NfJp4PhhtzYczHEPwoxzV-H6MszYtLkFOqwJdPfzoU8","mode":"list","cachedResultName":"Article Researcher Master V2.0","cachedResultUrl":"https://docs.google.com/presentation/d/1NfJp4PhhtzYczHEPwoxzV-H6MszYtLkFOqwJdPfzoU8/edit?usp=drivesdk"},"name":"={{ $node[\"Normalize & Route\"].json.user.name }} - Research Report - {{ $node[\"Normalize & Route\"].json.research.topic }}","sameFolder":false,"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1QCUrzacL3YbTtKFNDmqE9On4JykV3D2U","mode":"list","cachedResultName":"PowerPoint Outputs","cachedResultUrl":"https://drive.google.com/drive/folders/1QCUrzacL3YbTtKFNDmqE9On4JykV3D2U"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2288,16],"id":"4bbcad85-bb2c-4dab-a0a4-6547746b7ef3","name":"Copy file"},{"parameters":{"operation":"getSlides","presentationId":"={{ $json.id }}","returnAll":true},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[2512,16],"id":"dc0c841c-9d98-4911-a377-33093fca1ed9","name":"Get slides from a presentation"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('Copy file').item.json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2960,16],"id":"d93161e9-557a-465f-9b34-045f9b787a15","name":"Share file"},{"parameters":{"operation":"replaceText","presentationId":"={{ $('Copy file').first().json.id }}","textUi":{"textValues":[{"pageObjectIds":"={{ [] }}","text":"{{name}}","replaceText":"={{ $('Edit Fields').first().json.display_name }}"},{"pageObjectIds":"={{ [] }}","text":"{{company_name}}","replaceText":"={{ $('Edit Fields').first().json.display_company }}"},{"pageObjectIds":"={{ [] }}","text":"{{what_would_you_like_us_to_research}}","replaceText":"={{ $('Edit Fields').first().json.display_topic }}"},{"pageObjectIds":"={{ [] }}","text":"{{report}}","replaceText":"={{ $('Edit Fields').first().json.final_report }}"}]},"options":{}},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[2736,16],"id":"45bbc2c5-6a24-457c-8533-038f5eb6cc0c","name":"Replace text in a presentation"},{"parameters":{"assignments":{"assignments":[{"id":"f43f6cf0-eacb-4504-aaa5-bdc783c4062f","name":"final_report","value":"={{ $node[\"Message a model\"].json.output[0].content[0].text }}","type":"string"},{"id":"4b5726d3-1c61-41be-8900-d4864731a6cf","name":"display_name","value":"={{ $node[\"Normalize & Route\"].json.user.name }}","type":"string"},{"id":"58e5157b-b968-4e19-aaca-4d5c5feb1ec0","name":"display_company","value":"={{ $node[\"Normalize & Route\"].json.user.company }}","type":"string"},{"id":"d3b44824-57b1-4bbe-a761-00fd5ffdcb82","name":"display_topic","value":"={{ $node[\"Normalize & Route\"].json.research.topic }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,16],"id":"db803ecb-8f61-4153-a637-d7a98340604d","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Normalize & Route","type":"main","index":0}]]},"Normalize & Route":{"main":[[{"node":"Split Out - Domains","type":"main","index":0}]]},"Split Out - Domains":{"main":[[{"node":"Tavily Search (Targeted Research)","type":"main","index":0}]]},"Tavily Search (Targeted Research)":{"main":[[{"node":"Aggregate & Rank Results","type":"main","index":0}]]},"Aggregate & Rank Results":{"main":[[{"node":"Tavily Extract (Full Article Text)","type":"main","index":0}]]},"Tavily Extract (Full Article Text)":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"The Final Aggregator (The \"Joiner\")","type":"main","index":0}]]},"The Final Aggregator (The \"Joiner\")":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Get slides from a presentation","type":"main","index":0}]]},"Get slides from a presentation":{"main":[[{"node":"Replace text in a presentation","type":"main","index":0}]]},"Replace text in a presentation":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Copy file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"9560e91a-9e55-4535-972c-dc0d280d2489","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-17T16:25:44.286Z","createdAt":"2026-03-17T16:25:44.286Z","role":"workflow:owner","workflowId":"yWTkNcwUJoBHQQUC","projectId":"80jFyymZeQtyBHZ8"}],"activeVersion":null,"tags":[]}