workflows/Researcher V4.json
{"updatedAt":"2026-03-17T16:26:16.450Z","createdAt":"2026-03-17T16:26:08.789Z","id":"4jaYYftwXrxqnkkG","name":"Researcher V4","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"article-researcher-v4","options":{}},"id":"f1857669-2502-4f5a-aeed-1fb992295d29","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-240,-32],"name":"Webhook","webhookId":"c06abcf4-0ffd-42c8-9df8-660c8482597d"},{"parameters":{"jsCode":"const b = $json.body || {};\n\n// 1) Identify ALL selected sectors (checkboxes like sectors[0], sectors[1], etc.)\nconst selectedSectors = Object.keys(b)\n  .filter(k => k.startsWith(\"sectors[\"))\n  .map(k => b[k])\n  .filter(Boolean);\n\n// 2) Date formatting (DD/MM/YYYY -> YYYY-MM-DD)\nlet formattedDate = \"\";\nif (b.date && b.date.includes(\"/\")) {\n  const [d, m, y] = b.date.split(\"/\");\n  formattedDate = `${y}-${m}-${d}`;\n}\n\nreturn [{\n  json: {\n    user: {\n      name: b.name,\n      email: b.email_address,\n      company: b.company_name\n    },\n    research: {\n      topic: b.what_would_you_like_us_to_research,\n      published_after: formattedDate\n    },\n    selected_sectors: selectedSectors\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-32],"id":"f742d272-9f37-4938-966e-307fcd34eb68","name":"Normalize & Route"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"You are a commercial foodservice and catering consultant with deep expertise in the UK hospitality supply chain. Your role is to analyse a customer’s catering needs and explain how Lockhart Catering Equipment could support, enhance, or transform their catering operations with practical, relevant solutions.\n\n### Company Overview: Lockhart Catering Equipment\n\nLockhart Catering Equipment is a leading UK distributor of catering equipment and hospitality supplies and operates as a division of Bunzl UK Ltd, part of Bunzl plc, a FTSE-100 international distribution group.\n\nLockhart is widely recognised as one of the UK’s largest and most comprehensive suppliers of catering equipment, offering an extensive range of light and heavy equipment, tableware, electrical appliances, and professional kitchen solutions.\n\nThe company supplies thousands of product lines and provides next-day delivery on many items, supported by nationwide sales offices and specialist sector teams.\n\nLockhart positions itself as a one-stop shop for caterers, with partnerships across hundreds of brands and a portfolio of tens of thousands of products, covering front-of-house and back-of-house needs.\n\n### Core Capabilities & Services\n\nLockhart’s value proposition extends beyond product supply and includes:\n\n- Comprehensive catering equipment supply across hospitality, education, healthcare, retail, stadiums, and contract catering.\n- Commercial kitchen design and planning aligned with industry standards and regulations.\n- Sector-specific expertise delivered by dedicated product specialists.\n- National account management combined with local support.\n- Tailored solutions for large-scale catering projects and operational transformation.\n\n### Strategic Strengths\n\nLockhart differentiates itself through:\n\n- Scale and breadth of supply, enabling customers to consolidate suppliers and simplify procurement.\n- Strong partnerships with global manufacturers and specialist brands.\n- Focus on innovation, operational efficiency, and product quality.\n- Sustainability initiatives including reduced packaging and Net Zero ambitions.\n- Industry insight and trend analysis within the catering and hospitality sector.\n\n### Commercial Positioning\n\nLockhart’s commercial narrative focuses on:\n\n- Improving operational efficiency and reducing total cost of ownership.\n- Enhancing consistency and quality in catering operations.\n- Supporting scalable growth and future-proofing catering infrastructure.\n- Providing expert guidance and curated equipment solutions.\n- Enabling sustainable, compliant procurement.\n\n### Task Instructions\n\nYou will receive customer research content generated by an AI research tool and optional sector context.\n\nYou must:\n\n- Interpret the customer’s catering needs, challenges, and opportunities.\n- Identify where catering equipment, supply chain, or operational improvements are relevant.\n- Explain how Lockhart could realistically support the customer.\n- Propose practical solutions using equipment, services, or procurement strategies.\n- Write in a professional B2B consultancy tone.\n- Be concise, persuasive, and commercially grounded.\n- Avoid generic marketing language and focus on tangible, real-world use cases.\n\nYour output should read like a tailored recommendation written by an experienced foodservice industry consultant, clearly linking the customer’s needs to Lockhart’s capabilities."},{"content":"=My name is {{ $('Normalize & Route').item.json.user.name }} and i work at {{ $('Normalize & Route').item.json.user.company }}. I have done a research article on {{ $('Webhook').item.json.body.what_would_you_like_us_to_research }} which output this {{ $json.choices[0].message.content }}. I want you to write a 200 word article on how Lockharts could help me as a business"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[432,-32],"id":"b326e1d6-3de3-4c14-88e8-0f1c35f48687","name":"Message a model"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1NfJp4PhhtzYczHEPwoxzV-H6MszYtLkFOqwJdPfzoU8","mode":"list","cachedResultName":"Article Researcher Master V2.0","cachedResultUrl":"https://docs.google.com/presentation/d/1NfJp4PhhtzYczHEPwoxzV-H6MszYtLkFOqwJdPfzoU8/edit?usp=drivesdk"},"name":"={{ $node[\"Normalize & Route\"].json.user.name }} - Research Report - {{ $node[\"Normalize & Route\"].json.research.topic }}","sameFolder":false,"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1QCUrzacL3YbTtKFNDmqE9On4JykV3D2U","mode":"list","cachedResultName":"PowerPoint Outputs","cachedResultUrl":"https://drive.google.com/drive/folders/1QCUrzacL3YbTtKFNDmqE9On4JykV3D2U"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[784,-32],"id":"8fbaa2b2-41ab-4fd7-a807-c88288591e3c","name":"Copy file"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('Copy file').item.json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1232,-32],"id":"6f2cd448-d13e-48e1-90c3-44080caea37f","name":"Share file"},{"parameters":{"operation":"replaceText","presentationId":"={{ $('Copy file').first().json.id }}","textUi":{"textValues":[{"pageObjectIds":"={{ [] }}","text":"{{name}}","replaceText":"={{ $('Normalize & Route').item.json.user.name }}"},{"pageObjectIds":"={{ [] }}","text":"{{company_name}}","replaceText":"={{ $('Normalize & Route').item.json.user.company }}"},{"pageObjectIds":"={{ [] }}","text":"{{what_would_you_like_us_to_research}}","replaceText":"={{ $('Normalize & Route').item.json.research.topic }}"},{"pageObjectIds":"={{ [] }}","text":"{{report}}","replaceText":"={{ $('Get information').item.json.choices[0].message.content }}"},{"pageObjectIds":"={{ [] }}","text":"{{citations}}","replaceText":"={{ $('Get information').item.json.citations.join('\\n') }}"},{"pageObjectIds":"={{ [] }}","text":"{{lockhart_help}}","replaceText":"={{ $('Message a model').item.json.output[0].content[0].text }}"}]},"options":{}},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[1008,-32],"id":"f80eb1b4-86f7-4665-964c-1c6ec99c22df","name":"Replace text in a presentation"},{"parameters":{"messages":{"message":[{"content":"=You are a research expert. Produce a 220-word article on \"{{ $json.research.topic }}\" focusing specifically on the following sectors: {{ $json.selected_sectors.join(', ') }}. Tailor the insights to these sectors only. Do not state the word count."}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[208,-32],"id":"bac362b1-ed65-4e4d-903c-5b3ad0d107e9","name":"Get information"},{"parameters":{"sendTo":"={{ $('Webhook').item.json.body.email_address }}","subject":"=Research on - {{ $('Webhook').item.json.body.what_would_you_like_us_to_research }}","message":"=Hi {{ $node[\"Webhook\"].json.body.name }},<br><br>\n\nThank you for your request. Your research report on\n“{{ $node[\"Webhook\"].json.body.what_would_you_like_us_to_research }}” is now ready.<br><br>\n\nYou can view and download your presentation here:\n<a href=\"https://docs.google.com/presentation/d/{{ $node['Copy file'].json.id }}/edit\">View your presentation</a>\n\nBest regards,<br>\nThe Research Team","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1456,-32],"id":"784f434f-028b-4080-b806-e739d6a8d486","name":"Send a message","webhookId":"515d058f-1a07-4006-8fc2-8e28b0a65c12"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug","mode":"list","cachedResultName":"Article Researcher – Submissions","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-BsfkS50sKvzOJ0uLsvSuY7lASojXLtrusxOyYUmgug/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"submitted_at":"={{ $('Webhook').item.json.body.time }}","name":"={{ $('Normalize & Route').item.json.user.name }}","email":"={{ $('Normalize & Route').item.json.user.email }}","company":"={{ $('Normalize & Route').item.json.user.company }}","topic":"={{ $('Normalize & Route').item.json.research.topic }}","sectors":"={{ $('Normalize & Route').item.json.selected_sectors.join(', ') }}","article":"={{ $('Get information').item.json.choices[0].message.content }}","citations":"={{ $('Get information').item.json.citations.join(', ') }}","lockhart_help":"={{ $('Message a model').item.json.output[0].content[0].text }}","wp_user_id":"={{ $('Webhook').item.json.body.user_id }}","ip":"={{ $('Webhook').item.json.body.ip }}","perplexity_cost_in_$":"={{ $('Get information').item.json.usage.cost.total_cost }}"},"matchingColumns":[],"schema":[{"id":"submitted_at","displayName":"submitted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sectors","displayName":"sectors","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"article","displayName":"article","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"citations","displayName":"citations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lockhart_help","displayName":"lockhart_help","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"wp_user_id","displayName":"wp_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ip","displayName":"ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"perplexity_cost_in_$","displayName":"perplexity_cost_in_$","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1680,-32],"id":"e6a32c7b-558b-4aa8-943d-61796974039c","name":"Append row in sheet"}],"connections":{"Webhook":{"main":[[{"node":"Normalize & Route","type":"main","index":0}]]},"Normalize & Route":{"main":[[{"node":"Get information","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Copy file","type":"main","index":0}]]},"Copy file":{"main":[[{"node":"Replace text in a presentation","type":"main","index":0}]]},"Share file":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Replace text in a presentation":{"main":[[{"node":"Share file","type":"main","index":0}]]},"Get information":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-7dqj.onrender.com","user-agent":"WordPress/6.9.1; https://insights.lockhart.co.uk","content-length":"597","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"35.214.18.130","cf-ipcountry":"GB","cf-ray":"9cfcbb24ad6d5d00-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/x-www-form-urlencoded","render-proxy-ttl":"4","rndr-id":"c32f8a5e-6c66-400c","true-client-ip":"35.214.18.130","x-forwarded-for":"35.214.18.130, 172.68.192.194","x-forwarded-proto":"https","x-request-start":"1771409388295528"},"params":{},"query":{},"body":{"form_id":"241","time":"2026-02-18 10:09:48","source_url":"https://insights.lockhart.co.uk/article-researcher/","post_id":"242","user_id":"3","user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36","ip":"86.147.187.136","is_read":"0","privacy_scrub_date":"2026-02-18","on_privacy_scrub":"anonymize","name":"JJ","company_name":"untitledtm","email_address":"jj@untitledtm.com","what_would_you_like_us_to_research":"How many apples are there in the world","sectors[0]":"Contract Caterer","sectors[1]":"Public Sector","sectors[2]":"Pub / Bar"},"webhookUrl":"https://n8n-7dqj.onrender.com/webhook-test/article-researcher-v3","executionMode":"test"}}]},"versionId":"ee2ec504-1a6d-47ac-9869-d3cc0aa20e19","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-17T16:26:08.794Z","createdAt":"2026-03-17T16:26:08.794Z","role":"workflow:owner","workflowId":"4jaYYftwXrxqnkkG","projectId":"80jFyymZeQtyBHZ8"}],"activeVersion":null,"tags":[]}