workflows/Website URL Indexer V1.json
{"updatedAt":"2026-03-17T17:23:15.954Z","createdAt":"2026-03-17T16:29:20.675Z","id":"wekSI41R4aNyVI4q","name":"Website URL Indexer V1","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-944,48],"id":"1501c9a3-a192-4634-9225-13378c0f9e60","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1zpCRdD09O-gPqL1SP4N5I1n74QMO9gw5_TWnZjGkSoc","mode":"list","cachedResultName":"Website Category Codes Feb 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zpCRdD09O-gPqL1SP4N5I1n74QMO9gw5_TWnZjGkSoc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Category","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zpCRdD09O-gPqL1SP4N5I1n74QMO9gw5_TWnZjGkSoc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-736,48],"id":"279cdc07-6538-478f-af6f-0b8475ce4292","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"Ue1g8rE0mhbiLxv1","name":"Google Sheets account"}}},{"parameters":{"jsCode":"function stripHtml(html) {\n  if (!html) return \"\";\n  return html.replace(/<[^>]*>/g, \" \");\n}\n\nreturn items.map(item => {\n  const name = (item.json.Name || \"\").toLowerCase();\n  const keywords = (item.json.Keywords || \"\").toLowerCase();\n  const description = stripHtml(item.json.Description || \"\").toLowerCase();\n\n  const searchText = `${name} ${keywords} ${description}`.replace(/\\s+/g, \" \").trim();\n\n  return {\n    json: {\n      code: item.json[\"# code\"],\n      superCategory: item.json.superCategories,\n      name: item.json.Name,\n      url: item.json.URL,\n      search_text: searchText\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,48],"id":"cc7edcbf-f55f-4dc0-a82d-abf7d4eda354","name":"Prepare Search Index"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"92U3t3CZVSYD8qPA","mode":"list","cachedResultName":"bunzl_researcher_website_category_index","cachedResultUrl":"/projects/80jFyymZeQtyBHZ8/datatables/92U3t3CZVSYD8qPA"},"filters":{"conditions":[{"keyName":"code","keyValue":"={{$json.code}}"}]},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"code","displayName":"code","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"superCategory","displayName":"superCategory","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"search_text","displayName":"search_text","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-128,48],"id":"4ca42e92-cde9-4c5e-b7d0-02d06c1ce089","name":"Upsert row(s)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef7f0f5f-9ece-4967-b598-b3d26b4cc355","leftValue":"={{ $json.use_in_recomendations }}","rightValue":"y","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-528,48],"id":"f6b2ebae-3039-41ed-9f85-0651a356fa7a","name":"Keep Matching Items"},{"parameters":{"operation":"deleteRows","dataTableId":{"__rl":true,"value":"5Qp18YaeHAKj7XJd","mode":"list","cachedResultName":"bunzl_researcher_website_category_index","cachedResultUrl":"/projects/zelxUBMWZH4Zd6fx/datatables/5Qp18YaeHAKj7XJd"},"filters":{"conditions":[{"condition":"isNotEmpty"}]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-112,-96],"id":"c22a4cf4-397d-4719-a6bf-0cd91001529f","name":"Delete row(s)"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Keep Matching Items","type":"main","index":0}]]},"Prepare Search Index":{"main":[[{"node":"Upsert row(s)","type":"main","index":0}]]},"Keep Matching Items":{"main":[[{"node":"Prepare Search Index","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3bd7f34-c929-47e3-a9be-d778f31e0b54","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-17T16:29:20.680Z","createdAt":"2026-03-17T16:29:20.680Z","role":"workflow:owner","workflowId":"wekSI41R4aNyVI4q","projectId":"80jFyymZeQtyBHZ8"}],"activeVersion":null,"tags":[]}